.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited .page-header h1 a:active {
    color: white;
    font-size: 36px;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: black;
    text-decoration: none;
}

.post>.date,
.post>.actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
    margin-left: 15px;
}

.btn-secondary:hover {
    color: white;
    background-color: #C25100;
    border-color: #C25100;
}

#logout {
    font-family: "Lobster", cursive;
}

small a,
small a:hover,
small a:visited {
    font-size: 15pt;
    color: #ffffff;
    text-decoration: none;
}

.comment {
    margin: 20px 0 20px 20px;
}